<head>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet">
  <title></title>
</head>
<nav class="navbar">
  <div class="navbar-brand">
    <a [routerLink]="['/']" class="brand-link">
      <span class="brand-name">REFLIGHTS</span>
      <img src="/logo.png" alt="logo" class="brand-logo">
    </a>
  </div>

  <div class="navbar-buttons">
    <button class="btn-nav" type="button" [routerLink]="['/review-list']">Avis</button>
    <button class="btn-nav" type="button" [routerLink]="['/add-flight']">Modération</button>
  </div>
</nav>


