<!-- Switch admin flottant -->
<div class="admin-mode-toggle">
  <div class="toggle-container">
    <span class="toggle-label">👤 Utilisateur</span>
    <label class="switch">
      <input
        #toggle
        type="checkbox"
        [checked]="mode === 'admin'"
        (change)="onToggleMode(toggle.checked)"
      />
      <span class="slider"></span>
    </label>
    <span class="toggle-label">🛡️ Admin</span>
  </div>
</div>

<app-review-search (reviewsFound)="updateReviews($event)"></app-review-search>
<div *ngIf="reviews && reviews.length">
  <div *ngFor="let review of reviews">
    <app-review-list-item [review]="review" [mode]="mode" (refresh)="loadReviews()"></app-review-list-item>
  </div>
</div>

<div *ngIf="!reviews || reviews.length === 0">
  <p>No reviews available.</p>
</div>
