<div class="pt-4 p-2" *ngIf="review">
  <!-- En-tête de l'avis -->
  <div class="review-header">
    <div class="review-author">
      <div class="author-info">
        <h3 class="author-name">{{review.user.firstName}}</h3>
        <div class="review-rating">
          <i class="fa fa-star" *ngFor="let star of [1,2,3,4,5]"
             [class.filled]="star <= review.rating"></i>
        </div>
      </div>
    </div>
    <div class="review-meta">
      <span class="review-date">{{review.reviewDate | date:'dd/MM/yyyy'}}</span>
    </div>
  </div>

  <!-- Détails du vol -->
  <div class="review-flight-info">
    <span class="flight-info">{{review.flight.id}}</span>
    <span class="flight-info">{{review.flight.departureAirport}}</span>
    <i class="fa fa-plane"></i>
    <span class="flight-info">{{review.flight.arrivalAirport}}</span>
    <div class="airline-info">
      <h3>{{review.flight.airline.name}}</h3>
      <img src="{{review.flight.airline.url}}" alt="{{review.flight.airline.name}}">
    </div>
  </div>

  <!-- Contenu de l'avis -->
  <div class="review-content">
    <p class="review-text">{{review.comments}}</p>
</div>

<div *ngIf="!review">
  <p>No reviews available.</p>
</div>


